
<body>
  <div class="container">


  <h1><%= @buddy.name  %></h1>
  <p>Description :<br>
    <%= @buddy.description %>


  <%= link_to "modifier mon profile", edit_buddy_path(@buddy)  %>
  </div>
</body>
