<h1>Prestation List</h1>

<ul>
  <% @prestations.each do |presta|  %>
    <li><%= link_to presta.name, prestation_path(presta) %></li>
    <li><%= presta.description  %></li>
    <li><%= presta.price %>€</li>
  <% end %>
</ul>
