<% @prestations.each do |presta|  %>
  <ul>
  <li><%= link_to presta.name, prestation_path(presta), class:"text-decoration-none" %></li>
  <li><%= presta.description  %></li>
  <li><%= presta.price %>€</li>
  </ul>
<% end %>
