.prestation-container {
  position: relative;
  }

.fa-square-plus {
  position: absolute;
  right: 50%;
  font-size: 32px;
  color: rgb(24, 49, 83);
}

.titre-page-admin{
  color: rgb(24, 49, 83);
  text-align: center;
  padding: 8px;
  }
