<h1>New Booking</h1>
<%= link_to '<- Back', prestation_bookings_path %>
<%= simple_form_for [@prestation, @booking], method: :create  do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
