<h1>Details de votre reservation</h1>
Vous avez reservé la prestation : <br>
<h4><%= @booking.prestation.name %></h4>
Realisée par : <br>
<h5><%= @booking.prestation.user.name %></h5>
Pour la date du :<br>
<strong><%= @booking.date %></strong><br>
<%= link_to '<- Back', prestation_bookings_path(@prestation) %>
