.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-category-mid {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.card-category-btn {
  background-position: center;
  height: 220px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.buddy-name {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #183153;

}

.buddy-avatar {
  position: absolute;
}

.avatar-img {
  height: 270px;
  width: 270px;
  position: relative;
  top: 60px; left: 0px;
  border-radius: 200px;
  object-fit: cover;
}


.boutons-params {
}
