.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-bolt {
  font-size: 36px;
  color: rgb(24, 49, 83);

.h1 {
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
}
