h1{
  padding-top: 40px;
  text-align: center;
}

h4{
  text-align: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product:h1{
  color: rgb(24, 49, 83);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
